/*
CSS 
web o pagina: Proyecto Web 3º Trimestre
autor: Eduardo Jimenez
fecha: Abril 2021

*/




*{
		  box-sizing: border-box;
		  padding: 0;
		  margin: 0;
}
		::-webkit-scrollbar {
  width: 10px;
}
		/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
		body{
			overflow-y:scrollbar; 
			overflow-x:hidden; 
			font-family:Verdana,Century Gothic,Candara,Futara,Trebuchet MS;
			color:white;
			background-color:black;
		}
   a{color: #FF0000; }
	

		.marco {
			
		  display: grid;
		  /*border-style: solid;
		   border-color: blue;*/
		  grid-template-columns: 23% 62% 14%;
		  grid-template-rows: 10% 0% 100% 10%;
		  /*grid-gap: 1%;*/
		  
		  height: 100vh;
		  width: 100vw;
		}
		
		.encabezado {
			
			overflow:auto;/*
		  border-style: solid;
		  border-color: blue;*/
		  grid-column: 1 / span 3;
		  grid-row: 1 / span 2;
		 background-color:rgba(0,0,20)
		}
		
		
		
		.nvar{
			position:static;
			margin-left:32%;
			 overflow: hidden;
		  background-color: #333; 
			width:44%;
		}
		.nvar a {
		  float: left;
		  font-size: 16px;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		.nvar a:hover{
			color:yellow;
		}
		.nvar a{
			
	transition: color 0.8s linear 0.2s;

		}
		
		.lado {
			
			position: -webkit-sticky;
  position: sticky;
  top: 0;
			
			width:100%;
			height:auto;
			overflow:auto;
		  border-style: solid;
		  border-color: red;
    
    border-top-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
		
		  grid-column: 1 / span 1;
		  grid-row: 3 / span 1;
		   background-color:rgba(0,0,255,0.1)
		}
		
		.contenido {
			
			overflow-y:auto; overflow-x:hidden; 
			 border-style: solid;
		  border-color: red;
    
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 1px;


			overflow:auto;
			
			
			
			
		  grid-column: 2 / span 1;
		  grid-row: 3 / span 1;
		   background-color:rgba(0,0,255,0.1)
		}
		.contenido::-webkit-scrollbar {
    display: none;
			}
			
			
			.arriba_contenido{
				
			}
		.arriba_contenido h1{
   font-size:400%;
    margin-left:20%;
	margin-right:10%;
	
}
.arriba_contenido h1:hover{
	color:green;
	 
}
.arriba_contenido h1{
	transition: color 0.8s linear 0.2s;
}



.arriba_contenido_SV{
				
			}
		.arriba_contenido_SV h1{
   font-size:300%;
    margin-left:15%;

   
	
}

#textoaRojo{
	display:inline;
}

#textoaAmarillo{
	display:inline;
}









#textoaRojo:hover{
	color:red
	
	 
}
#textoaRojo{
	transition: color 0.8s linear 0.2s;
}

#textoaAmarillo:hover{
	color:yellow;
	 
}
#textoaAmarillo{
	transition: color 0.8s linear 0.2s;
}
#SpanishVectorPic{
	width:73%;
	height:73%;
	margin-left:15%;
}


.arriba_contenido_B h1{
   
   font-size:300%;
    margin-left:45%;

   
	
}

.arriba_contenido_B h1:hover{
  color:blue;

   
	
}


.arriba_contenido_B h1{
  transition: color 0.8s linear 0.2s;
   
	
}

		#gifvector{
			width:30%;
			height:30%;
			margin-left:35%;
   margin-right:10%;
		}
		#gifvector:hover{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}

#gifvector{transition: color 0.8s linear 0.2s;}
.video{
	margin-left: 0.5%;
				margin-right:0.5%;
					margin-top:15%;
			width:99%;
			height:55%;
			float:left;
			
			
			position:static;
			
			word-wrap: break-word;
}

#videovector{
	
	width:100%;
	height:100%
}
#fotoInfoVector{
	margin-left:25%;
}
	
		#fotovectoresp{
			margin-left:25%;
			
		}
		#fotovectoresp:hover{
			box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
			
		}
		#fotovectoresp{
			transition: color 0.8s linear 0.2s;
		}

#textoTitulo{
	font-size:200%;

text-align:center;
}
#textoMiTitulo{
	font-size:200%;
margin-left:1%;
word-wrap: break-word;
}
#fotocenec{
	
	
    margin-left: 80%;
    margin-top: 10%;

}
#textoMiInfo{
	margin-left:1%;
	word-wrap: break-word;
	
}


.noticias_B{
	margin-top:20%;
	margin-left:2%;
	margin-right:2%;
	
}
.noticias_B a{
	color:white;
	
	
}
.noticia00{
	
	
}

#noticiaTitulo{
	font-size: 175%;
    color: rgba(50,50,350);
	
	
}



#foto0{
	width:30%;
	float:right;
	
}


#texto0{
	color: white;
	
}


#finNoticias{
	margin-top:20%;
	text-align:center;
}


.codigo{
	margin-right:75%;
	box-sizing: content-box;
	background-color:grey;
}
.codigo code{
	
	font-size: 125%;
	color:black;
}





.fotoInfoVector{
	width:50%;
	
	height:auto;
}

#fotoInfoVectorB{
	margin-left:25%;
	width:50%;
	
	height:auto;
}








		.informacion{
			animation-name: logoAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: normal;
		}
		
#fotomia{
	
	position: -webkit-sticky; /* Safari */
			position: sticky;
	width:50%;
    height:50%;
    border-radius:50%;
	margin-left: 25%;
    margin-right: 25%;
margin-top: 15%;

 
  
  
}

#miNombre{
	margin-left: 25%;
    margin-right: 25%;
}
#miTexto{
	margin-left: 25%;
    margin-right: 25%;
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  20%,80% {
    opacity: 1;
    transform: translateX(0);
  }
  
/*poner esta propiedad en el texto q venga abajo si se requiere*/

}
		 /* animation-duration: 3s;
  animation-name: slidein;
	
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%
  }

  to {
    margin-left: 25%;
    width: 50%;
  }*/
.noticia{
				margin-left: 1%;
				margin-right:2%;
					margin-top:15%;
			width:99%;
			height:auto;
			float:left;
			
			
			position:static;
			
			word-wrap: break-word;
			
		}
		.noticia a{
			color: #C9F9F1 ; 
		}
	
	
		.noticiaSV a{
			
	color: #FF0000; 

			
		}
		
		.migas {
			 border-style: solid;
		  border-color: red;
			 border-top-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
		  grid-column: 3 / span 1;
		  grid-row: 3 / span 1;
		   background-color:rgba(0,0,255,0.1);
		 animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
		}
		
		@keyframes fadein { from { opacity: 0; } to { opacity: 1; } } 
		/* Firefox < 16 */ @-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
		/* Safari, Chrome and Opera > 12.1 */ @-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } 
		/* Internet Explorer */ @-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } 
		/* Opera < 12.1 */ @-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/*Fuente: https://www.iteramos.com/pregunta/9095/usando-css-para-efecto-de-fade-in-en-la-carga-de-la-pagina*/
		
		
		
		#nVeces{
			position:static;
			margin-top:-3%;
			float:right;
			word-wrap: break-word;
			margin-left:2%;
			margin-right:2%;
			
		}#nVeces:hover{
			
		color:green;
	 
}
#nVeces{
	transition: color 0.8s linear 0.2s;
}
	#paginaActual{
		word-wrap: break-word;
			margin-left:1%;
			margin-right:1%;
		}	
		
		
		
		#paginaActual:hover{
			color:red;
		}
		#paginaActual{
			transition: color 0.8s linear 0.2s;
		}
				ul.ruta li {
			display: inline;
			font-size: 18px;
}

ul.ruta li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
		
		
		
		/*fin migas*/
		
		
		
		
		
		
		.pie{  
		overflow:auto;
		width: 435%;
		height:100%;
		
		  border-style: solid;
		  border-color: aqua;
border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;	

    
	


		grid-column: 1 / span 3;
		  grid-row: 4 / span 2;
		   background-color:rgba(0,0,255,0.1);
		   
		}
		#copy{
			
			text-align:center}

#divFormulario {
	margin-left: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 50%;
	width: 50%;
	padding: 15%;
	background-color: cadetblue;
	border-style: solid;
	border-color: aqua;
}

#formulario {
	padding:15%;



}
#irRegistro {
	padding: 18%;
}


#enviarBoton{
	padding:5%;
	margin-left:34%;
}
#usuario{

	padding:5%;
}

#contrasenia {
	padding: 5%;
}

#textoInicioSesion {
	margin-left: 32%;
}
/*

pseudoclases, asignarles estilos en este orden llamado LVHA:
   :link — :visited — :hover — :active.
   
Más selectores y documentación:
pseudo-clases: https://www.w3schools.com/css/css_pseudo_classes.asp
pseudo-elementos: https://www.w3schools.com/css/css_pseudo_elements.asp
pseudo-atributos: https://www.w3schools.com/css/css_attribute_selectors.asp
formularios: https://www.w3schools.com/css/css_form.asp
posicionamiento: https://www.w3schools.com/css/css_positioning.asp
selectores: https://www.w3schools.com/cssref/css_selectors.asp
*/





