@media (max-width: 899px) {
    #errorMedia {
        display: block;
    }

    .contenedorFoto {
        display: none;
    }

        .contenedorFoto:hover .fondoDolly {
            display: none;
        }

        .contenedorFoto:hover .front {
            display: none;
        }

    .fondoDolly {
        display: none;
    }

    .front {
        display: none;
    }

}

@media (min-width: 900px) {

    #errorMedia {
        display: none;
    }


    #nombreDelUsuario {
        margin: 0%;
    }

    .contenedorFoto {
        width: 100%;
        max-width: 900px;
        background: #000;
        overflow: hidden;
        margin: 25px auto;
        position: relative;
        height: 600px;
    }

        .contenedorFoto:hover .fondoDolly {
            -webkit-transform: scale(0.8) translate(-50%, -50%);
            -ms-transform: scale(0.8) translate(-50%, -50%);
            transform: scale(0.8) translate(-50%, -50%);
        }

        .contenedorFoto:hover .front {
            -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
            transform: scale(1.4);
        }

    .fondoDolly {
        top: 50%;
        left: 50%;
        width: 1411px;
        height: 914px;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: -webkit-transform 1s;
        transition: transform 1s;
    }

    .front {
        top: 50%;
        left: 25%;
        z-index: 1;
        position: absolute;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 1s;
        transition: transform 1s;
    }


    .image-wrap {
        width: 100%;
        height: 50vw;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

        .image-wrap img {
            width: 100%;
            animation: move 40s ease;
            /* Add infinite to loop. */
            -ms-animation: move 40s ease;
            -webkit-animation: move 40s ease;
            -0-animation: move 40s ease;
            -moz-animation: move 40s ease;
            position: absolute;
        }

    @-webkit-keyframes move {
        0% {
            -webkit-transform-origin: bottom left;
            -moz-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            -o-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: scale(1.0);
            -ms-transform: scale(1.0);
            /* IE 9 */
            -webkit-transform: scale(1.0);
            /* Safari and Chrome */
            -o-transform: scale(1.0);
            /* Opera */
            -moz-transform: scale(1.0);
            /* Firefox */
        }

        100% {
            transform: scale(1.2);
            -ms-transform: scale(1.2);
            /* IE 9 */
            -webkit-transform: scale(1.2);
            /* Safari and Chrome */
            -o-transform: scale(1.2);
            /* Opera */
            -moz-transform: scale(1.2);
            /* Firefox */
        }
    }
}

